.item {
  background: $item-bg;
  border: 1px solid $item-border;
  display: flex;
  flex-direction: column;
  margin-bottom: $space;
  padding: $space;
  max-width: 25rem;
  max-height: 50rem;
  text-align: center;
}

.item__message {
  color: $item-text-color;
}

.item__status-message {
  color: $item-text-color;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.item__image {
  max-width: 100rem;
  max-height: 20rem;
}

.item__content {
  display: flex;
  justify-content: space-around;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.top-space {
  padding-top: $space;
}
